#statement {
	width: 75%;
	margin: 2% auto;
}

#taskLayers {
	width: 70%;
	margin-top: 2%;
	margin-left: 20%;
}

.task-block{
	width: 70%;
}

.directionControl {
	float: right;
}

#footer{
	width: 75%;
	margin: 2% auto;
}